<div class="container mt-4">
  <div class="row">
    <div class="col text-center">
      <h1><%= @event.title %></h1>
    </div>
  </div>
  <div class="card mb-4">
    <div class="row">
      <div class="col">
        <div class="card-body">
          <p><strong>Description : </strong><%= @event.description %></p>
          <p><strong>Nombre de Participants : </strong><%= @event.participants.count %></p>
          <p><strong>Date de début : </strong><%= @event.start_date %></p>
          <p><strong>Date de fin : </strong><%= @event.end_date %></p>
          <p><strong>Prix : </strong><%= @event.price %> €</p>
          <p><strong>Lieu de l'événement : </strong><%= @event.location %></p>
        </div>
      </div>
    </div>
</div>
<div class="card text-center ">
<% if user_signed_in? %>
  <% if @event.admin == current_user %>
    <%= link_to "mon espace événement",   event_participations_path(@event), class: 'nav-link'%>
  <% end %>
<% end %>
</div>
<div class="card text-center ">
  <% if user_signed_in? %>
    <%= link_to "rejoindre l'événement", new_event_participation_path(@event), class: 'nav-link'%>
  <% end %>
  </div>


<% if current_user == @event.admin %>
  <div class="text-center">
    <a  href="/event/<%= @event.id %>" data-method= "delete">Delete_event</a>
  </div>
  <div class="card text-center ">
    <%= link_to "édition de l'événement",    edit_event_path(@event), class: 'nav-link'%>
</div>

<% else %>
<p>NE TOUCHE A RIEN tu n'est pas l'admin</p>
<% end %>
